body {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-style: italic;
    color: #FF6F00;
}

#info {
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
}

#preview {
    clear: both;
    display: block;
    border: 1px solid black;
    margin: 2rem auto;
    width: 192px;
    height: 192px;
}

.button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #FF6F00;
}

#status {
    font-size: 150%;
    margin: 2rem auto;
}
